@charset "utf-8" ;

body, td, select, input, div, form, textarea { font-family: Tahoma, dotum, arial, verdana; }

H1 {
	margin:3px;
	font-size:22px;
}

H2 {
	margin:2px;
	font-size:18px;
}

.index1 {font-size:10pt;color:#FFFFFF;text-decoration: none;}

.pdfindex {font-size:14pt;color:#FFFFFF;text-align: center;text-decoration: none;}

.pdftop {font-size: 18px;font-weight: bold;}
.pdftop A:link{font-size: 18px;font-weight: bold;color: #000000;text-decoration:none;}
.pdftop A:visited{font-size: 18px;font-weight: bold;color: #000000;text-decoration:none;}

.searchbox {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.searchbox2 {
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.searchbox3 {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.searchH2 {
	font-size: 15px;
}

.searchcenter {
	text-align: center;
}

.searchcenter0 {
	text-align: center;
	font-size: 14px;
}

.searchcenter00 {
	text-align: center;
	font-size: 16px;
}

.searchcenter000 {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.searchcenter0000 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

.searchcenter1 {
	font-size: 13px;
}

.searchcenter2 {
	font-size: 13px;
	margin:0px;
}

.pdfbox1 {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #C0C0C0;
	font-family: Arial Black;
}

#pdfbox2 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial Black;
}

#searchdescript {
	margin:10px auto;
	line-height: 12px;
	color: #808080;
	font-family: Tahoma, dotum, arial, verdana;
	font-size: 11px;
}

#searchdescript2 {
	margin:10px auto;
	line-height: 25px;
	color: #808080;
	font-family: Tahoma, dotum, arial, verdana;
	font-size: 14px;
	A{font-size:12pt;color:#ffffff;text-decoration: none;font-weight:bold;}
	A:link{font-size:12pt;color:#ffffff;text-decoration: none;font-weight:bold;}
	A:visited{font-size:12pt;color:#ffffff;text-decoration: none;font-weight:bold;}
	A:hover{font-size:12pt;color:#ffffff;text-decoration:underline;font-weight:bold;}
}

.cop {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}


.top_head{font-size:24pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.top_head A{font-size:24pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.top_head A:link{font-size:24pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.top_head A:visited{font-size:24pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.top_head A:hover{font-size:24pt;color:#ffffff;text-decoration:underline;font-weight:bold;}

.bottom_head{font-size:12pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.bottom_head A{font-size:12pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.bottom_head A:link{font-size:12pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.bottom_head A:visited{font-size:12pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.bottom_head A:hover{font-size:12pt;color:#ffffff;text-decoration:underline;font-weight:bold;}


.table_head{font-size:10pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.table_head A{font-size:9pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.table_head A:link{font-size:9pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.table_head A:visited{font-size:9pt;color:#ffffff;text-decoration: none;font-weight:bold;}
.table_head A:hover{font-size:9pt;color:#ffffff;text-decoration:underline;font-weight:bold;}

.tb_list {font-size:10pt;color:#2E3192;text-decoration: none;font-weight:bold;}
.tb_list A{font-size:10pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_list A:link{font-size:10pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_list A:visited{font-size:10pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_list A:hover{font-size:10pt;color:#0066FF;text-decoration:underline;font-weight:bold;}

.tb_list_b {font-size:15pt;color:#2E3192;text-decoration: none;font-weight:bold;}
.tb_list_b A{font-size:15pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_list_b A:link{font-size:15pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_list_b A:visited{font-size:15pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_list_b A:hover{font-size:15pt;color:#0066FF;text-decoration:underline;font-weight:bold;}


.pn_list {font-size:9pt;color:#000000;text-decoration: none;}
.pn_list A{font-size:8pt;color:#0066FF;text-decoration: underline;}
.pn_list A:link{font-size:8pt;color:#0066FF;text-decoration: none;}
.pn_list A:visited{font-size:8pt;color:#0066FF;text-decoration: underline;}
.pn_list A:hover{font-size:8pt;color:#0066FF;text-decoration:underline;}

.pn_list_b {font-size:14pt;color:#000000;text-decoration: none;font-weight:bold;}
.pn_list_b A{font-size:15pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.pn_list_b A:link{font-size:15pt;color:#0066FF;text-decoration: none;font-weight:bold;}
.pn_list_b A:visited{font-size:15pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.pn_list_b A:hover{font-size:15pt;color:#0066FF;text-decoration:underline;font-weight:bold;}



.tb_slist {font-size:10pt;color:#2E3192;text-decoration: none;font-weight:bold;}
.tb_slist A{font-size:11pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_slist A:link{font-size:11pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_slist A:visited{font-size:11pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.tb_slist A:hover{font-size:11pt;color:#0066FF;text-decoration:underline;font-weight:bold;}


.pg_link {font-size:11pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.pg_link A{font-size:11pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.pg_link A:link{font-size:11pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.pg_link A:visited{font-size:11pt;color:#0066FF;text-decoration: underline;font-weight:bold;}
.pg_link A:hover{font-size:11pt;color:#0066FF;text-decoration:underline;font-weight:bold;}


.listinglink {font-size:10pt;color:#000000;text-decoration:none}
.listinglink A{font-size:11pt;color:#4272db;text-decoration: underline;font-weight:bold;}
.listinglink A:link{font-size:10pt;color:#4272db;text-decoration: none;font-weight:bold;}
.listinglink A:visited{font-size:10pt;color:#4272db;text-decoration: underline;font-weight:bold;}
.listinglink A:hover{font-size:10pt;color:#4272db;text-decoration:underline;font-weight:bold;}



.tb_text {font-size:9pt;color:#000000;font-weight:bold;}
.pri_text {font-size:9pt;color:#616161;}
.sign_p {font-size:7pt;color:#ff0000;text-decoration: none;border:1px solid #ff0000;padding:0px 3px 0px 3px;background-color:#FFFFFF;}
.sign_i {font-size:7pt;color:#ffcd00;text-decoration: none;border:1px solid #ffcd00;padding:0px 3px 0px 3px;background-color:#FFFFFF;}
.sign_u {font-size:7pt;color:#2E3192;text-decoration: none;border:1px solid #2E3192;padding:0px 3px 0px 3px;background-color:#FFFFFF;}
.sign_d {font-size:7pt;color:#000000;text-decoration: none;border:1px solid #000000;padding:0px 3px 0px 3px;background-color:#FFFFFF;}





.linkaddr {font-size:11pt;color:#2E3192;border:1px solid #cdcdcd;}
.msg_text {font-size:10pt;color:#000000;}
.li_text {font-size:10pt;color:#000000;}
.tb_text2 {font-size:12pt;color:#ffffff;}
.tb_text3 {font-size:10pt;color:#ffffff;}
.pg_msg {font-size:12pt;color:#ff0000;font-weight:bold;}
.h2_text {font-size:18pt;color:#1f1f1f;}
.page_text {font-size:14pt;color:#2E3192;}
.pg_head {font-size:14pt;color:#2E3192;font-weight:bold;}


.text-red {color:red; font-weight:bold;}